// Import all of Bootstrap's CSS
$primary:       #05F2F2;
$secondary:     #AFF24B;
$success:       #0593A2;
$info:          #FF7A48;
$warning:       #E3371E;
$danger:        #F23DD4;

@import "bootstrap/scss/bootstrap";